


.themeFontColor {
  color:#8c52ff;
  

}

tr {
  cursor: pointer;
}

.container{
  text-align: center;
  width: 100%;
  justify-content:space-between;
  margin-top: 10px;   
}
.art{
  width:30%;
  align-content: center;
  text-align: center;
  height: 30% !important;
}
.bid{
  width:30%;
  align-content: left;
  text-align: left;
  margin-top: 45px !important;
}

@media screen and (min-width : 0px) and (max-width : 900px){
  .art{
    max-width:50% !important;
    align-content: center;
    text-align: center;
    height: 50% !important;
  }
  .bid{
    max-width:30%;
    align-content: left;
    text-align: left;
    margin-top: 45px !important;
    margin-left: 35px !important;
    margin-right: 35px !important;
  }



}


.imgsrc{
  width: 20px !important;
  height: 20px !important;

}
.imgarrow{
  width: 30px !important;
  height: 30px !important;
  margin-top: 77px;
}
a {margin-right: 20px;}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  margin-right: 20px;
}

