

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none !important;
}

a {
  text-decoration: none !important;
}



body {
  margin-top: 0px;
  font-family: 'PT Sans', Verdana, Arial;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  font-size: medium;

}
body, html { overflow-x:hidden; }
.mainheader {
  color: rgb(169, 169, 236);
}


p {
  font-size: 18px;
}

h3 {
  font-size: 22px;
}

li {

  line-height: 1.5;
}

figcaption {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: 'PT Sans', Verdana, Arial;
  font-weight: small;
}

h4 {
  text-align: center;
}

.mainheader {
  clear: both;
  background-color:#d8c8f9;
  color: black;

 
}

.grid{
  margin-top:2px !important;
  display: flex !important;
  flex-wrap: wrap !important;
}



.btn-secondary{
  background-color :#8c52ff !important;;
  color:#fff !important;
 width: 50%;
 align-content: center;
  border: #a693c2;
  border-radius: 5px;
  align-items: center;
  margin-left: 95px;
  margin-bottom: 25px;
}


.wrapper{
  display:grid !important;
  grid-template-columns:repeat(auto-fit,minmax(12rem,16rem))  !important;
  gap:2rem;
  justify-content:center;

}



.btn{
  background-color :#8c52ff !important;;
  color:#fff !important;
 width: 100% !important;
 height: 10% !important;
 align-content: center;
  border: #a693c2;
  border-radius: 5px;
  align-items: center;
}

.btnbid{
  background-color :#8c52ff !important;;
  color:#fff !important;
 width:20% !important;
 height: 150% !important;
 align-content: center;
  border: #a693c2;
  border-radius: 5px;
  align-items: center;

}

.loginwrap{
  height: 85vh;

}

.login{

  width:380px;
  height:520px;
  border-radius: 5px;
  background-color:  #d8c8f9;
  color: black;
  padding:20px;
  border:1px solid #8c52ff !important;
}

.registerwrap{
  height: 80vh;

}

.register{

  width:500px;
  height: 600px;
  border-radius: 5px;
  background-color:  #d8c8f9;
  color: black;
  padding:35px;
  border:1px solid #8c52ff !important;
}

.colored{
  background-color :#8c52ff !important;
  color:#fff !important;
}

.validation{
 color: red;
}


.avtr{
  background-color:#8c52ff !important;
  padding-left: 3;

}



li{
  list-style-type: none;
}

.dropdown-menu{
  width:5px;
}

.profile{
  padding-left:30px}

 .bglog{
  background-color: #8c52ff;
 }
 .content-wrap {
  padding-bottom: 18.5rem;    /* Footer height */
}
@media (min-width: 1200px) and (max-width: 2159px)  {
  .bidbox{
    display: flex !important; 
  flex-direction: column !important;
  justify-content: space-around !important;
  margin-left: 2px !important;
  }
  
}


 @media screen and (min-width : 0px) and (max-width : 900px){
 
  .loginwrap{
    height: 85vh;
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    padding: 20 20 20 20px;
 
  }
  .btn{
    background-color :#8c52ff !important;;
    color:#fff !important;
   width: 100% !important;
   height: 10% !important;
   align-content: center;
    border: #a693c2;
    border-radius: 5px;
    align-items: center;
  }
  .btnbid{
    background-color :#8c52ff !important;;
    color:#fff !important;
   width: 30% !important;
   height: 150% !important;
   align-content: center;
    border: #a693c2;
    border-radius: 5px;
    align-items: center;
  
  
  
  
  }
  

  .login{

    max-width:95%;
    height:85%;
    border-radius: 5px;
    background-color:  #d8c8f9;
    color: black;
    padding:20px;
    border:1px solid #8c52ff !important;
    margin-top: -30px !;
  }
  .register{

    max-width:95%;
    height: 98%;
    border-radius: 5px;
    background-color:  #d8c8f9;
    color: black;
    padding:40px;
    border:1px solid #8c52ff !important;

  }
 
  .mainheader {
    clear: both;
    background-color:#d8c8f9;
    color: black;
   padding: 0 0 0 0 !important;
   text-align: center !important;
   position: relative;
   align-items: center;
  
 
    
   
  }
  .wrapper{
    display:grid !important;
    grid-template-columns:repeat(auto-fit,minmax(12rem,16rem))  !important;
    gap:1rem;
    justify-content:center;

  }
  
 
  .mt-5{
    margin-top: 5rem !important;
  
  }
  
  .bidbox{
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
      
   
 
 }